@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    z-index: 9999;
    background-color: rgba(87, 87, 87, 0.3);
    transition: 0.3s;
}

header.active {
    padding: 10px 250px;
}

.logo img {
    width: 50px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 0px 10px;
}

ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.intro {
    height: 100vh;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clip-path {
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 34% 100%, 94% 70%);
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(207deg, #F79400 0%, #DE2E14 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.headings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50%;
    padding-bottom: 2.5%;
}

.text h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.5rem;
}

.image {
    width: 30%;
    margin-left: 10px;
}

.scroll-container {
    height: 100vh;
    background: transparent;
}

.speak {
    margin: 150vh 0;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
}

.speak.active {
    opacity: 1;
}

.speak.right {
    padding-left: 4em;
    justify-content: flex-start;
}

.speak:first-child {
    margin-top: 50vh;
}

.speak[data-scroll] {
    transform: translatey(calc(var(--viewport-y) * 100vh));
    opacity: calc(var(--visible-y));
}

.scroll-sequence__content {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-right: 4em;
    padding-left: 0;
}

.scroll-sequence {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.speak h1 {
    font-style: italic;
    font-weight: 900;
    font-size: 1.75rem;
    color: #D5D5D5;
    margin-bottom: 10px;
    text-shadow: none;
}

.speak h1 span {
    font-size: 2rem;
    color: #E4441B;
    margin-bottom: 10px;
    text-shadow: none;
}

.container.scroll-container.tab {
    display: none;
}

.container.scroll-container.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px 50px;
    }
    header.active {
        padding: 10px 50px;
    }
    .container.scroll-container.desktop {
        display: none;
    }
    .container.scroll-container.tab {
        display: block;
    }
    .speak {
        justify-content: center;
    }
    .text h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px 20px;
    }
    header.active {
        padding: 5px 20px;
    }
    .logo img {
        width: 30px;
    }
    ul li a {
        font-size: 12px;
    }
    .container.scroll-container.tab {
        display: none;
    }
    .container.scroll-container.mobile {
        display: block;
    }
    .speak h1 {
        font-size: 1.15rem;
    }
    .speak h1 span {
        font-size: 1.25rem;
    }
    .text h3 {
        font-size: 0.5rem;
    }
}